body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
    color: white;
}

ul {
    background-color: red;
    color: white;
    line-height: 2em;
    text-align: right;
    text-decoration: darkmagenta wavy overline;
}

.what-your-favorite-color {
    background-color: orangered;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}