@font-face {
  font-family: Cloister Black;
  src: url('assets/font/CloisterBlack.ttf');
}

@font-face {
  font-family: Calistha;
  src: url('assets/font/Calistha.ttf');
}

@font-face {
  font-family: Bohemian Soul;
  src: url('assets/font/Bohemian_Soul.otf');
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;

}

main {
  margin: 10% auto auto;
  width: 60%;
  background: linear-gradient(to right, rgb(65, 67, 69), rgb(35, 37, 38));
  border: 1em solid rgb(249, 206, 26);
  color: white;

}

aside {
  position: absolute;
  top: 20%;
  padding: 2% 0 0 2%;
}

svg {
  width: 20px;
  fill: white;
}

table {
  color: white;
  position: absolute;
  font-size: 0.8em;
  z-index: 3;
  left: 3%;
  top: 64%;
  border: 1px solid rgb(249, 206, 26);
  padding: 0 9.5em 0 0;
  text-align: left;
}

.lado-direito p {
  font-family: Calistha, cursive;
  color: white;
  font-size: 3em;
  padding: 0 1em;
}

#card , #minha_foto {
  position: absolute;
}

#card {
  z-index: 1;
  position: absolute;
  left: 1%;
  top: 36%;

}

#minha_foto {
  z-index: 0;
  width: 204px;
  height: 154px;
  left: 3%;
  top: 42%;
  position: absolute;

}

#carta h2 {
  font-size: 1.2em;
  left: 5%;
  top: 36.6%;
  z-index: 2;
  color: white;
  position: absolute;
  font-family: Cloister Black, fantasy;
}

#ficha {
  font-size: 1em;
  line-height: 0.1em;
  font-family: Bohemian Soul, fantasy;
}

#oclin {
  width: 20px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background: linear-gradient(to right, rgb(65, 67, 69), rgb(35, 37, 38));
  width: 100%;
  height: 20%;
  margin-left: -10;
  text-align: center;
  z-index: 999;
}

#titulo {
  padding: 2% 0 0;
  font-family: Cloister Black, fantasy;
  color: white;
}

#listas div {
  padding: 1% 0 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 12%;
}

#listas ol {
  font-family: Bohemian Soul, fantasy;
}

#listas h2 {
  font-family: Bohemian Soul, fantasy;
}

.lado-direito {
  float: right;
}

.lado-esquerdo {
  float: left;
}

#rodape {
  background: linear-gradient(to right, rgb(65, 67, 69), rgb(35, 37, 38));
  position: absolute;
  margin: 1% 0 0;
  height: 20%;
  width: 100%;
  left: 0;
}

#rodape ul {
  list-style-position: inside;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 3.5% 2%;
}

#rodape li {
  padding: 0 1%;
}
